<div class="buttons-corner mt-3">
  <button type="button" class="btn btn-sm button" data-toggle="modal"
  data-target="#booking1"  (click)="OpenPoupeCreateUpdateFaq(faqNew)">Add FAQ</button>
  <label>&nbsp;</label>
  <button type="button" class="btn btn-sm button" data-toggle="modal"
   data-target="#booking"  (click)="OpenPoupeCreateUpdate(categoryNew)">
   Add Category</button>
</div>


<div class="accordion accordion-flush mt-3" >
<ng-container *ngFor="let cat of categoriesList">
  <button type="button" class="accordion-button"  (click)="cat.visiable=!cat.visiable">
    <i class="fa fa-th-list" aria-hidden="true">
    </i>
    <label>&nbsp;</label>
   {{cat.name}}
   <button type="button" class="btn btn-sm details"><i class="fa fa-pencil  fa-lg"></i></button>

   <button type="button" class="btn btn-sm details1"><i class="fa fa-trash fa-lg"></i></button>


  </button>

<br/>
<ng-container *ngIf="cat.visiable" class="accordion-body">
  <ul draggable *ngFor="let faq of cat.faqs" [dragData]="faq" class="list-group-item">
    <!-- <li>{{faq.question}}</li> -->

    <button type="button" class="accordion-button"  style="background-color: white;color: black" (click)="faq.visiable=!faq.visiable">
      <i class="fa fa-th-list" style="color:rgb(192, 105, 243);" aria-hidden="true">
      </i>
      <label>&nbsp;</label>
      {{faq.question}}
      <button type="button" class="btn btn-sm details3"><i class="fa fa-pencil  fa-lg"></i></button>

     <button type="button" class="btn btn-sm details2"><i class="fa fa-trash fa-lg"></i></button>


    </button>

    <ng-container *ngIf="faq.visiable" class="accordion-body">
      <angular-editor id="editor1" [(ngModel)]="faq.answer" [config]="editorConfig">
        <ng-template #customButtons let-executeCommandFn="executeCommandFn">
          <ae-toolbar-set>
            <ae-button iconClass="fa fa-html5" title="Angular editor logo"
                       (buttonClick)="executeCommandFn('insertHtml')">
            </ae-button>
          </ae-toolbar-set>
        </ng-template>
      </angular-editor>
      <!-- {{faq.answer}} -->
    </ng-container>
  </ul>

</ng-container>
</ng-container>
</div>




